
body{
    background:white;
    height: inherit;
    
}
.banner{
    width: 100%;
    position: relative;
}

.banner img{
    width: 100%;
    height: inherit;
   

}
.overlay{
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.6);
    position: absolute;
   
}

.banner .text{
    width: 90%;
    text-align: center;
    color: white;
    position: absolute;
    top: 30%;
    left: 10%;
    text-transform: capitalize;
   
    }
    .text p{
        font-size: 60px;  
    }
    .text nav a{
        text-decoration: none;
        color: white;
        font-size: 25px;
        padding: 20px;
    }
    .text nav a:hover{
        color:orange;
    }

    
.main-box{
width: 100%;
}

.main-box .con{
background-color: #26498e;
width: 100%;
height: 60vh;
color: aqua;
}
.menu{
width: 90%;
height: inherit;
margin: 2% auto;
padding: 20px ;
text-align: center;
}
.menu .menu-text{
    width: 90%;
}
.menu .menu-text h6{
    font-size: 25px;
    font-family:'Courier New', Courier, monospace ;
    text-decoration: underline sandybrown;
  text-underline-offset: 10px;
  color: sandybrown;
  text-align: center;
  padding-bottom: 10px;
}
.menu .menu-text h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.menu .menu-list{
    width: 95%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
   margin-top: 30px;
   flex-wrap: wrap;
border-bottom: 2px solid grey;
}
.mn-list i{
    color: sandybrown;
    font-size: 50px;
}
.mn-list p{
    margin-bottom: 0%;
}

.mn-list2 i{
    color: sandybrown;
    font-size: 50px;
}
.mn-list2 p{
    margin-bottom: 0%;
    
}

.mn-list3 i{
    color: sandybrown;
    font-size: 50px;
}
.mn-list3 p{
    margin-bottom: 0%;
   
}

.food{
    width: 90%;
    display: flex;
    margin: 20px auto;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

/* .food{
    display: none;
} */

.food .food-lft{
    width: 46%;
    
}

.food .food-lft .food-list{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 6%;
    flex-wrap: wrap;
   
}
.food-lft .food-list .food-img{
    width: 25%;
   
}
.food-img img{
    width: 70%;
    height: inherit;
    border-radius: 10px;
}
.food-lft .food-list .food-text{
    width: 75%;
    
}
.food-text .burger{
    width: 90%;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid grey;
    margin-top: 10px;
    margin-bottom: 10px;
}
.burger .bur-name{
    width: 65%;
}
.burger .bur-name h6{
    font-size: 22px;
}
.burger .bur-price{
    width: 35%;
    
}
.burger .bur-price h6{
    color: sandybrown;
    text-align: end;
    font-size: 20px;
    
}
.food .food-rgt{
    width: 46%;
    
}
.food .food-rgt .food-list2{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 6%;
 
}
.food-rgt .food-list2 .food2-img{
    width: 25%;
}
.food2-img img{
    width: 70%;
    border-radius: 10px;
}
.food-rgt .food-list2 .food2-text{
    width: 75%;
    
}
.food2-text .burger2{
    width: 90%;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid grey;
    margin-top: 10px;
    margin-bottom: 10px;
}
.burger2 .bur-name2{
    width: 65%;
}
.burger2 .bur-name2 h6{
    font-size: 22px;
}
.burger2 .bur-price2{
    width: 35%;
    
}
.burger2 .bur-price2 h6{
    color: sandybrown;
    text-align: end;
    font-size: 20px;
    
}

@media screen and (max-width:780px){

    .menu{
        width: 75%;
        text-align: center;
    }
    .menu .menu-text{
        width: 100%;
        text-align: center;
    }
    .menu .menu-list{
        width: 100%;
            text-align: center;
    }
    .food{
        width: 75%;
        flex-direction: row;
        align-items: center;
    }
    .food .food-lft{
        width: 100%;
    }
    .food .food-lft img{
        width: 80%;
        height: 18vh;
    }
    .food .food-rgt{
        width: 100%;
         }
    .food .food-rgt img{
        width: 80%;
height: 18vh;
    }
    
}
@media screen and (max-width:560px){
    .menu{
        width: 75%;
        text-align: center;
    }
    .menu .menu-text{
        width: 100%;
        text-align: center;
    }
    .menu .menu-list{
        width: 100%;
            text-align: center;
    }
    .food{
        width: 75%;
        flex-direction: row;
        align-items: center;
    }
    .food .food-lft{
        width: 100%;
    }
    .food .food-lft img{
        width: 80%;
        height: 18vh;
    }
    .food .food-rgt{
        width: 100%;
         }
    .food .food-rgt img{
        width: 80%;
height: 18vh;
    }

    
}