/* header part start */
header{
    width: 100%;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 2s linear;

    
}
header .logo{
    padding: 5px 25px;
    display: flex;
    justify-content: space-evenly;
}

header span{
    position: absolute;
    right: 6px;
    border: 5px solid grey;
    border-radius: 5px;
    top: 1px;
    margin: 10px;
    padding: 5px 10px;
    
}
#menu{
    padding-top: 10px;
}

header nav a{
    text-decoration: none;
    color: white;
    text-transform: capitalize;
    padding: 5px 25px;

    font-size: 20px;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
}
header nav a:hover{
    color:orange;
}

.clr{
    color: white;
}
.nw{
    width: 100%;
    position: fixed;
    top: 0;
    background: black;
    /* color: red !important; */
    z-index: 45;
}

span{
    color: white;
    font-size: 25px;
    padding: 10px;
    display: none;
}

.hide{
    display: block;
   }
/* header part end */

/* footer css start */
footer nav{
    width: 90%;
    font-size: 20px;
    text-align: center;
    padding-top: 20px;
    }
    nav a{
    padding: 20px;
    text-decoration: none;
    color: #6a6d73;
    }
    
    footer{
    margin-top: 20px;
    width: 100%;
    /* height: 40vh; */
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background-color: black;
    }
    footer .frm{
    width: 30%;
    color: white;
    padding-top: 20px;
    
    }
    .frm h2{
        color: grey;
    }
    .frm input{
    width: 80%;
    padding: 10px;
    border: 5px solid sandybrown;
    text-align: center;
    font-size: 15px;
    margin-top: 10px;
    
    }
    .frm button{
    width: 30%;
    padding: 10px;
    margin-top: 5px;
    border: 2px solid sandybrown;
    }
    .social-icon{
    width: 25%;
    color: #6a6d73;
    font-size: 20px; 
    padding-top: 20px;
    }
    .social-icon a{
    padding: 8px;
    }
    
    .tt{
    width: 30%;
    color: #6a6d73;
    font-size: 20px;
    padding-top: 20px;
    }
    
    .arrow{
        width: 5%;
    }
    .arrow i{
        width: 100%;
        color: black;
        font-size: 35px;
      
    }
    /* footer css end */

    @media screen and (max-width:780px){

        footer{
            flex-direction: column;
            width: 100%;
            align-items: center;
            
           }
           footer nav{
            width: 100%;
            text-align: center;
            margin: 3% 0%;
           }
           footer .social-icon{
            width: 50%;
            text-align: center;
            margin: 2% 0%;
            
            
           }
           footer .tt{
            width: 50%;
            text-align: center;
            margin: 2% 0%;
           }
           footer .frm{
            width: 50%;
           text-align: center;
           margin: 2% 0%;
           }
           header{
            flex-direction: column;
            align-items: flex-start;
            }
    
         header span{
            display: block !important;
            display: flex;
            align-self: flex-end;
          
    }
        /* .logo{
            display: none;
        } */
        
        header nav{
            display: none;
            align-self: flex-end;
            padding: 0;
            
        }
         header nav a{
            display: flex !important;
            flex-direction: row;
            color:white;
            font-size: 18px;
        } 
        .data{
            width: 45%;
            bottom: 5%;
           
        }
    }
    @media screen and (max-width:560px){
    header{
          flex-direction: column;
          text-align: center;
    
        }
        
    
        footer{
            display: flex;
            flex-direction: column !important;
            width: 100%;
            align-items: center;
            
           }
           footer .social-icon{
        width: 100%;
            text-align: center;
            margin: 0;
            
           }
           .data{
            width: 45%;
            bottom: 5%;
           
        }
    }